*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #10172A;
}

.weather-item{
  background-color: #1F293B;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
}

@media (max-width: 768px){
  .weather-item{
    font-size: 0.7rem;
  }
}

@media (max-width: 480px){
  .weather-item{
    font-size: 0.6rem;
  }
}

@media (max-width: 480px){
  .weather-item{
    font-size: 0.5rem;
    padding: 0.5rem 0.7rem;
  }
}